<%-layout("/layouts/boilerplate")%>

  <body>
    <div class="row">
    <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <br> <br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate 
      class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control" required
        />
        <div class="invalid-feedback">Please enter the Title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %> </textarea>
        <div class="invalid-feedback">Please enter the Title</div>
      </div>
      
      <!-- preview image -->
      <div class="mb-3">
        Original Listing Image <br>
       <img
  src="<%=  originalImageurl%>"
  alt="preview"
  style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px; border: 2px solid #ccc;"
>

        
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"> Upload New Image </label>

        <input
          name="listing[image]"
        
          type="file"
          class="form-control"  
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price (₹ per night)</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control"
            min="300"
            required
          />
          <div class="invalid-feedback">Price must be at least ₹300</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"  required
          />
           <div class="invalid-feedback">Enter a valid Country Name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"   required
        />
         <div class="invalid-feedback">Enter a valid Location</div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" class="form-select" required>
          <option value="" disabled>Select a category</option>
          <option value="Trending" <%= listing.category === 'Trending' ? 'selected' : '' %>>Trending</option>
          <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
          <option value="Iconic cities" <%= listing.category === 'Iconic cities' ? 'selected' : '' %>>Iconic Cities</option>
          <option value="mountains" <%= listing.category === 'mountains' ? 'selected' : '' %>>Mountains</option>
          <option value="castles" <%= listing.category === 'castles' ? 'selected' : '' %>>Castles</option>
          <option value="Amazing Pools" <%= listing.category === 'Amazing Pools' ? 'selected' : '' %>>Amazing Pools</option>
          <option value="camping" <%= listing.category === 'camping' ? 'selected' : '' %>>Camping</option>
          <option value="farms" <%= listing.category === 'farms' ? 'selected' : '' %>>Farms</option>
          <option value="Arctic" <%= listing.category === 'Arctic' ? 'selected' : '' %>>Arctic</option>
          <option value="Boats House" <%= listing.category === 'Boats House' ? 'selected' : '' %>>Boats House</option>
        </select>
        <div class="invalid-feedback">Please select a category</div>
      </div>

      <button class="btn btn-dark edit-btn">Edit</button>
      <br><br><br>
    </form>
  </body>
  </div>
</div>

